* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    
}

a{
    margin-left: 100px;
    display: inline-block;
}

header .logo{
   margin-top: 20px;
    height: 50px;
    cursor: pointer;
}

.photograph-header{
    position: relative;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    width: 88%;
}


.photograph-header article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: 18%;
    right: 5%;
}

.photograph-header article{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photograph-header article h1{
    font-size: 3.5rem;
    font-weight: 400;
    color: #D3573C;
}

.photograph-header article h2{
    font-size: 1.5rem;
    font-weight: 400;
    color: #901C1C;
    line-height: 31px;
}

.photograph-header article p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 40px;
}

.photograph-header .info{
    margin-top: 70px;
    margin-left: 70px;
}

/***********Sort***********/

.select-menu{
  width: 170px;
  height: 70px;
  position: relative;
  line-height: 1.5;
  /*hide the items when the select box is closed:*/
}

.select-menu__selected-item {
  width: 100%;
  padding:  23px 20px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #901C1C;
  font-size: 16px;
  cursor: pointer;
}

.select-menu__arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
 .select-items {
  position: absolute;
  top: 0;
  z-index: 99;
}
 .select-items:focus li.active-option {
  outline: thin dotted;
  color: #000;
  background-color: #DB8876;
}
 .select-items li {
  width: 170px;
  height: 70px;
  padding:  23px 20px 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #901C1C;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

 .select-items li::after {
  content: "";
  position: absolute;
  display: block;
  left: 5%;
  bottom: 0;
  width: 150px;
  height: 1px;
  background-color: #fff;
}
 .select-items li:active {
  color: #000;
  background-color: #DB8876;
}
 .select-items li:hover {
  color: #000;
  background-color: #DB8876;
}
.select-items li:nth-child(1) {
  height: 60px;
  padding: 23px 20px 14px;
  border-radius: 5px 5px 0 0;
}

 .select-items li:nth-child(3) {
  padding: 23px 20px 14px;
  border-radius: 0 0 5px 5px;
}
 .select-items li:nth-child(3)::after {
  display: none;
}
 .select-hide {
  display: none;
}

.sort{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 100px;
  gap:40px;
  font-size: 20px;
  margin-top: 30px;
}
/* .fa-chevron-down{
  font-size: large;
  color: #fff;
  background: url(../assets/icons/chevron-down.svg) ;
} */
/* .fa-chevron-up{
  font-size: large;
  color: #fff;
  background: url(../assets/icons/chevron-up.svg) ;
} */

/********Gallery photos***********/
.galleryPhotos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 70px 0 100px 100px;
    row-gap: 50px;
}

.galleryPhotos article{
    width: 350px;
}

.galleryPhotos article img, video{
    height: 300px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.028);
    border-radius: 5px;
    transition: 0.8s;
}

.galleryPhotos article img:hover,
 video:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 8px 0px  #312e2e;
    opacity: 0.8;
}


.galleryPhotos h2{
    font-size: 1.3rem;
    font-weight: 400;
    color: #901C1C;
    width: 85%;
}

.galleryPhotos article .title-likes{
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    font-weight: 400;
}

.galleryPhotos article .title-likes span{
    font-size: 1.3rem;
}

.galleryPhotos article .title-likes span:hover{
    color: #DB8876;
}

.galleryPhotos article .title-likes .heart-fas:focus{
    color: #DB8876;
}

.galleryPhotos article .like .liked{
    color: #DB8876;
}

.galleryPhotos article .heart{
   cursor: pointer;
   transition: 0.5s;
   font-size: 1.3rem;
}

.galleryPhotos article{
    position: relative;
}

.galleryPhotos article .fa-play-circle{
    color: #fff4f4de;
    position: absolute;
    font-size: 3rem;
    right: 130px;
    bottom: 150px;
}


/*******Error Form*********/

 .error input, .error textarea{
    border: 3px solid red;
  }

  .formData[data-error]::after {
    content: attr(data-error);
    color: #901C1C;
    display: block;
    margin-top: 5px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.8;
    opacity: 0;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
  }
  .formData[data-error-visible="false"]::after {
    opacity: 0;
  }
  .formData[data-error-visible="false"] .text-control {
    border: 2px solid  #279e7a ;
  }
  input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
  }

 textarea[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
}
/*******************Modal form******************/


#contact_modal {
    display: none;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 8;
}

.contact_button {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 40%;
    right: 30%;
    transition: 0.8s;
}

.contact_button:hover,.contact_btn_form:hover{
    background-color: #D3573C;
    transform: scale(1.02);
    box-shadow: 1px 1px 8px 0px  #312e2e;
    color: black;
}

.contact_button:active{
    transform: scale(1.1);
}

.contact_btn_form {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 59px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 3px;
    right: auto;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 660px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px 35px 100px 35px;;
    margin: auto;
    margin-bottom: -16px;
    animation-name: modalopen;
    animation-duration: 0.8s;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.modal header img {
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
}

.modal header p {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 20px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    margin-bottom: -20px;
    font-size: 2.2rem;
    font-weight: 400;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
}
.text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
  }
  .text-control-textarea{
   align-self: center;
   font-size: 1.7rem;
   height: 150px;
   width:99%;
   border-radius: 8px;
   font-size: 20px;
  }

.contact_modal{
    display: block;
}

@keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
  }

  /**********Lightbox************/

#contact_lightbox{
    display: none;
    position: absolute;
    top: 70px;
    left: 100px;
    width: 100%;
}
.lightbox_container   {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    animation-name: modalopen;
    animation-duration: 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox_next,
.lightbox_prev{
    border: none;
    background: url(../assets/icons/arrow.svg) center center/30px 38px no-repeat;
    height: 38px;
    position: absolute;
    top: 50%;
    right: 120px;
    margin-top: -14px;
    z-index: 11;
}

.lightbox_prev{
    right: auto;
    left: 120px;
    transform: rotate(180deg);
}

.lightbox_close{
    border: none;
    background: url(../assets/icons/close_lightbox.svg) center center/32px 32px no-repeat transparent;
    width: 42px;
    height: 42px;
    top: 20px;
    right: 120px;
    z-index: 12;
    position: absolute;
}

.lightbox button{
    opacity: 1;
    cursor: pointer;
    transition: 0.3s;
    color: transparent;
}

.lightbox button:hover{
    opacity: 0.6;
}

.lightbox_container img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit:cover;
    margin: auto;
    background-color: #C4C4C4;
}

.lightbox_container img .hidden{
    visibility: hidden;
}
.lightbox_container .slides{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 1050px;
  height: 650px;
  margin-bottom: 20px;
}

.lightbox_container .slides img {
  width: 100%;
  height:100%;
  object-fit: cover;
  margin-bottom:5px;
 
}
.lightbox_container video{
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #C4C4C4;
}

.lightbox_container h3{
    color: #901C1C;
}

/************Like and price*************/
footer{
    width: 300px;
    height: 69px;
    background: #DB8876;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 30px;
}

footer p{
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 30px;
}

.price-day{
    font-size: 1.5rem;
    font-weight: 700;
}

 footer .heart-fas{
    font-size: 1.5rem;
    margin-right: 40px;
}






