/**********Responsive***********/

@media screen and (max-width: 1270px){
    .galleryPhotos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
   .lightbox_next,.lightbox_close{
    right: 0;
   }
   .lightbox_prev{
    left: 0;
   }
}

@media screen and (max-width: 1120px){
    .photograph-header .info{
        margin-top: 20px;
    }
    .contact_button{
        bottom: 20px;
        left: 70px;
    }

    .sort{
        margin-top: 20px;
    }
      .lightbox_next, .lightbox_close{
        right: 0;
       }
       .lightbox_prev{
        left: 0;
       }
}
@media screen and (max-width: 992px){
    .photograph-header .info{
        margin-top: 20px;
    }
    .contact_button{
        bottom: 20px;
        left: 75px;
    }
    .select-menu__selected-item {
        padding: 16px 18px 15px 20px;
        font-size: 15px;
      }
    .sort{
        margin-top: 20px;
    }
    .select-menu {
        width: 140px;
        height: 55px;
      }
   
    .select-items li {
        width: 145px;
        height: 40px;
        font-size: 15px;
      }
    .select-items li:nth-child(1) {
        height: 47px;
        padding: 14px 20px 10px;
      }
     
     .lightbox_container img {
        width: 100%;
        object-fit: cover;
      } 
      .lightbox_container{
        align-self: center;
        width: 70%;
      }
      .lightbox_close, .lightbox_next{
        right:0
      }
      .lightbox_prev{
      left: 0;
      }
      
}
@media screen and (max-width: 830px){
    .photograph-header article h1{
        font-size: 3rem;
    }

    .photograph-header article h2{
        font-size: 1.2rem;
    }

    .photograph-header article p{
        font-size: 0.9rem;
    }

    .photograph-header .info{
        margin-left: 20px;
        text-align: center;
    }
    .lightbox_next, .lightbox_close{
        right: 0px;
    }

    .lightbox_prev{
        left: 0px;
    }
    .lightbox_container  {
        width: 75%;
        height: 400px;
      }
      .lightbox_container img{
        width: 100%;
        object-fit: cover;
      }
    .contact_button{
        width: 150px;
        height: 60px;
        font-size: 1rem;
        top: 160px;
        left: 114px;
    }

    .photograph-header article img{
        height: 180px;
        width: 180px;
        right: 20%;
    }

    .galleryPhotos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
   
}

@media screen and (max-width: 715px){
    header .logo{

        margin: 10px 0 20px 66px;
    }

    .photograph-header{
        height: 400px;
        width: 351px;
    }

    .photograph-header .info{
        margin: auto;
    }

    .photograph-header article img{
        bottom: 35px;
        left: 20px;
        height: 150px;
        width: 150px;
        display: block;
        margin: auto;
        margin-right: 20px;
    }

    .photograph-header article h1{
        font-size: 2.5rem;
    }

    .photograph-header article h2{
        font-size: 2.5rem;
    }

    .photograph-header article p{
        font-size: 1rem;
        line-height: 30px;
    }

    .contact_button{
        width: 120px;
        height: 50px;
        font-size: 0.7rem;
        top: -81px;
        margin: auto;
    }

    .modal{
        width: 100%;
    }
    textarea{
        width: 100%;
    }

    .modal header p{
        margin-top: 70px;
        font-size: 3rem;
    }

    .modal header img{
        right: 0px;
    }

    form input::placeholder{
        font-size: 1.5rem;
    }

    .error span{
        font-size: 0.7rem;
    }

    .lightbox_close, .lightbox_next{
        right: 0px;
    }

    .lightbox_prev{
       left : 0px;
    }
    .lightbox_container   {
        width: 75%;
        height: 100%;
      }
      
}


@media screen and (max-width: 600px){
    .photograph-header{
        margin-left: 77px;
    }

    .galleryPhotos{
        margin-left: 77px;
    }
    .lightbox_close, .lightbox_close{
        right: 0px;
    }

    .lightbox_prev{
       left : 0px;
    }
}

@media screen and (max-width: 425px){
    header .logo{
        margin-left: 0px;
    }

    .photograph-header{
        margin-left: 20px;
    }

    .photograph-header article img{
        left: 40px;
    }

    .modal header p{
        font-size: 2rem;
    }

    .modal header img{
        height: 32px;
        right: -2.5px;
    }

    .error span{
        font-size: 0.6rem;
    }

    .lightbox_next,.lightbox_close{
        right: 0px;
    }

    .lightbox_prev{
        left: 0px;
    }

    .galleryPhotos{
        margin-left: 20px;
    }

    .sort{
        margin-left: 20px;
    }
    .contact_button{
        left: 121px;
        bottom: -15px;
    }
    .select-menu-form{
        margin:  5px 25px;
      }
}

@media screen and (max-width: 400px){
    header .logo{
        height: 40px;
    }

    .contact_button{
        width: 100px;
        height: 40px;
        font-size: 0.6rem;
    }

    .photograph-header article img{
        height: 130px;
        width: 130px;
        bottom: 70px;
        left: 30px;
    }

    .photograph-header article p{
        font-size: 0.5rem;
    }

    .photograph_medias label{
        font-size: 1.2rem;
    }

    .error span{
        font-size: 0.5rem;
    }
    .contact_button{
        left: 121px;
        bottom: 0;
    }
    .select-menu-form{
      margin:  5px 25px;
    }
}

@media screen and (max-width: 375px){
    header .logo{
        height: 30px;
        margin: 10px 0 20px 34px;
    }

    .photograph-header{
        margin-left: 20px;
    }
    .photograph-header .info{
        text-align: center;
    }
    .photograph-header .info p{
       font-size: medium;
    }
    .contact_button{
        left: 121px;
        top: -10px;
    }

    .photograph-header article img{
        left: 30px;
        height: 110px;
        width: 110px;
        margin-left: 100px;
    }

    .galleryPhotos{
        margin-left: 11px;
    }

    .galleryPhotos{
        margin-left: 11px;
    }
    .lightbox_close{
        font-size: 10px;
    }
    .select-items {
        position: absolute;
        top: 10px;
        z-index: 99;
      }
      .select-menu__selected-item {
        margin-top: 10px;
      }

}


